// Source Sans Pro font
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Merriweather|Source+Sans+Pro:300,400,600');

// Init Foundation
@import '~foundation-sites/scss/foundation';
@include foundation-everything(true);
@include foundation-flex-grid;
@include foundation-flex-classes;
// Load icon fonts
@import './typography';
// Import Motion UI
//@import '~motion-ui/dist/motion-ui';
body {
  font: normal 16px/24px "Merriweather", serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Merriweather", Helvetica, Roboto, Arial, sans-serif;
}
section {margin-bottom: 25px}
.button.small {
    font-size: 0.75rem;
    padding: 9px;
}
.vote-button {
  margin-right: 10px;
}
